@media (min-width: 1200px) {
    .c, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px;
    }
}
.header__main{
    padding-right: 8%;
    background-color: #C4001A;
    justify-content: space-between;
}
.header .header__group > div{
    width: 50%;
}
.header__group{
    display: flex;
    align-items: center;
}
.header__group .logo{
    padding-left: 8%;
}
.header__title,.header__search{
    padding-left: 24px;
}
.homeBanner__cont h2{
    font-size: 72px;
}
.homeBanner__cont p{
    font-size: 44px;
}
.searchBox_home{
    margin-top: 35px;
}
.colorRed800{
    color: #D20526;
}
.colorNeutral500{
    color: #64748B;
}
.colorNeutral600{
    color: #475569;
}

.typeSearch__box button p:before{
    border-bottom: 2px solid red;
}
.typeSearch__box{
    padding-right: 30px;
}
.typeSearch__box button.active p,.typeSearch__box button:hover p{
    color: #D20526;
}
.searchBox__input input::placeholder{
    color: #94A3B8;
}

.form-control[readonly]{
    background: #F1F5F9;
}
.inputSearch__group{
    display: flex;
    align-items: center;
    padding-top: 16px;
    justify-content: right;
}
.searchBox__btn{
    width: 220px;
}
.inputSearch__promo{
    margin-right: 16px;
}
.inputSearch__promo svg{
    margin-right: 8px;
}
.typeBook__group{
    display: flex;
    padding-top: 35px;
}
.typeBook__item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.typeBook__item svg{
    margin-right: 10px;
}
.typeBook__item.active{
    padding-bottom: 10px;
    border-bottom: 2px solid #D20526;
}
.typeBook__item.active span{
    color: #D20526;
}
.typeBook__col{
    display: flex;
    width: calc(100%/4);
    justify-content: center;
    padding: 0 50px;
}
.suggestion__title svg{
    margin-right: 10px;
}
.t-datepicker-day{
    right: -12vw;
}
.t-month{
    font-size: 16px;
    color: #475569;
    font-weight: 500;
}
.t-table-condensed tr th{
    color: #94A3B8;
    font-weight: 500;
}
.t-day{
    color: #1E293B;
}
.t-today{
    color: #ffffff;
}
.t-hover-day-content{
    font-weight: 500;
}
.t-hover-day, .t-hover-day-content, .t-hover-day:hover,.t-check-in .t-end, .t-check-out .t-start, .t-check-out tr ~ .t-end,.t-start, .t-end, .t-end-limit{
    background: #D20526;
}
.t-range-limit,.t-range,.t-range-limit.t-start, .t-range-limit.t-end{
    background: #f1dde0;
}
.t-hover-day::after{
    border-top-color: #D20526;
}
.passengerBox__text p{
    padding-bottom: 2px;
}
.apply__passenger{
    background: #D20526;
    border-radius: 8px;
    width: 100px;
    color: #fff;
    padding: 6px 0;
}
.passengerBox__item:last-child{
    justify-content: right;
}
.typeBook__group .typeBook__col.active{

}
.typeBook__item.active svg path{
    fill: #D20526;
}
.typeBook__item:hover svg path{
    fill: #D20526;
}
.typeBook__item:hover span{
    color: #D20526;
}
.typeBook__item {
    padding-bottom: 10px;
    border-bottom: 2px solid #fff;
}
.searchBox__tab li.active button:after,.searchBox__tab li:hover button:after{
    content: "";
    position: absolute;
    width: 28px;
    background: #D20526;
    left: 0;
    bottom: -4px;
    height: 2px;
}
.homeBook__form{
    height: 169px;
}
.searchBox__tab li.active span{
    color: #D20526;
}
.searchBox__toggle.active p:after,.searchBox__toggle:hover p:after {
    content: "";
    position: absolute;
    width: 28px;
    background: #D20526;
    left: 0;
    bottom: -4px;
    height: 2px;
}
.searchBox__toggle{
    position: relative;
}
.searchBox__add {
    display: flex;
    margin-bottom: 16px;
}
.add__Left, .add_Right {
    position: relative;
    width: 27%;
    border-bottom: 1px solid #E2E8F0;
    bottom: 16px;
}
.searchBox__add span {
    color: #334155;
    padding: 10px;
    font-weight: 500;
}
.searchBox__add .add__Mid {
    position: relative;
    justify-content: center;
    width: 16%;
    display: flex;
    cursor: pointer;
}
.header__search .dropdown-menu.show{
    left: unset!important;
    right: 0;
    transform: unset!important;
    top: unset!important;
}
.colorNeutral800{
    color: #1E293B;
}
.footer__list ul:last-child{
    width: 15%;
}
.appFooter img{
    height: 36px;
    width: 110px;
    margin-right: 20px;
    border-radius: 8px;
}

.socialFooter svg{
    margin: 0 15px;
}
.footer{
    background-color: #E2E8F0;
}

.footer__lang button svg{
    margin: 0 8px;
}
.footer__lang button span{
    margin-right: 10px;
}
.footer__lang .dropdown-menu.show{
    right: 0;
}
.homeBanner:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(359.24deg,#E5E5E5 -70%,rgb(255 255 255 / 0%) 13.24%);
    opacity: 1;
}
.homeServices__cont{
    width: 70%;
}
.homeServices__icon{
    width: 30%;
}
.homeServices__title {
    margin-bottom: 8px;
}
.homeIntern__title p{
    font-size: 36px;
}
.homeIntern__item:last-child{
    display: flex;
    justify-content: right;
}
.internImage__back{
    width: 437px;
    height: 546px;
    display: flex;
    justify-content: right;
	margin-bottom: 60px;
}
.internImage__back img, .internImage__font img{
    border-radius: 300px;
}
.internImage__font{
    position: absolute;
    left: 0;
    bottom: 14px;
    width: 300px;
    height: 400px;
}
.slick-initialized .slick-slide{
    align-items: center;
}
.homeIntern__item{
    margin-right: 30px;
}
.homeHighlight__col{
    box-shadow: 0px 0px 8px rgb(0 0 0 / 15%);
    border-radius: 8px;
    background: #fff;
}
.homeHighlight__img{
    height: 17vw;
}
.homeHighlight__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}
.homeHighlight__cont{
    padding: 16px;
}
.homeHighlight__cont p{
    padding: 2px 0;
}
.homeHighlight__group .homeHighlight__col{
    margin-bottom: 24px;
    height: 25vw;
}
.homeHighlight .col-4{
    padding-right: 12px;
    padding-left: 12px;
}
.homeHighlight__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.homeHighlight__image{
    position: relative;
    height: calc(50vw + 24px);
}
.homeHighlight__card{
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgb(0 0 0 / 15%);
}
.homeHighlight__image .homeHighlight__cont{
    z-index: 9;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.homeHighlight__image:before{
    border-radius: 8px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, #000000 -13.45%, rgba(255, 255, 255, 0) 67.25%);
}

.homeDes__title{
    font-size: 24px;
    color: #1E293B;
    font-weight: 500;
    margin-bottom: 8px;
}
.homeDestination li a{
    color: #475569;
}
.homeDestination .col-md-6{
    padding: 8px 0;
    float: left;
}
.homeHighlight,.homeDestination{
    padding-bottom: 50px;
}
.homeLetter__input{
    justify-content: center;
    padding-bottom: 30px;
}
.homeLetter__input input{
    width: 378px;
}
.homeLetter__input button{
    width: 220px;
}
.homeLetter__title{
    padding: 26px 0;
    text-align: center;
}
.colorNeutral700{
    color: #334155;
}
.node__cont{
    display: flex;
    align-items: center;
    margin-top: 16px;
}
.node__cont svg{
    margin-right: 8px;
}
.navbarBox__title{
    color: #fff;
}
.homeDestination__group li a:hover{
    text-decoration: underline;
}
.homeLetter__group{
    position: relative;
}
.homeLetter__group svg{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
}
.header__toggle.active svg:first-child,.header__toggle svg:last-child{
    display: none;
}
.header__toggle.active svg:last-child{
    display: block;
}
.header__title{
    cursor: pointer;
}
.homeServices__text p {
    font-size: 16px;
}
.header__title span{
    font-size: .92vw;
}


@media (min-width: 767px){
    .searchBox__main {
         box-shadow: 0px 0px 30px rgb(0 0 0 / 15%);
    }
    .navbarBox__title,.navbarBox__close{
        display: none;
    }
    .footerIcon__group{
        justify-content: space-between;
        display: flex;
    }
    .footerIcon__left {
         display: flex;
         align-items: center;
    }
    .no_scroll_body {
        height: 100%;
        overflow: hidden;
    }

}

/*start mobile*/
@media (max-width: 767px){
    .header__title{
        display: none;
    }
    .header__group{
        justify-content: space-between;
    }
    .header .header__group > div {
        width: unset;
    }
    .header__group .logo{
        padding-left: 14px;
    }
    .header__main{
        padding-right: unset;
    }
    .header__btn{
        width: 64px;
        justify-content: center;
    }
    .homeBanner__cont h2{
        font-size: 48px;
    }
    .homeBanner__cont p{
        font-size: 24px;
    }
    .searchBox__main.open{
        transform: none;
        visibility: visible;
    }
    .searchBox__body{
        box-shadow: unset;
    }
    .searchBox__main{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
        background-color: #fff;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        transition: all .3s ease-in-out;
        transform: translateX(-100%);
        visibility: hidden;
    }
    .navbarBox__list.hidden{
        display: block!important;
    }
    .navbarBox__group{
        height: calc(100% - 80px);
        position: relative;
        bottom: 0;
    }
    .navbarBox__search{
        position: absolute;
        width: 100%;
        bottom: 0;
    }
    .navbarBox__list ul li a{
        font-size: 16px;
    }
    .searchBooking{
        display: flex;
        justify-content: space-between;
        background: #D20526;
        border-radius: 8px;
        padding: 16px;
    }
    .searchBooking span{
        font-size: 16px;
        color: #fff;
        font-weight: 500;
    }
    .homeBook__group{
        background: #FFFFFF;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.15);
        border-radius: 8px;
        padding: 0 16px;
    }
    .searchFlight:not(.searchFlight:last-child){
        border-bottom: 1px solid #F1F5F9;
    }
    .searchFlight{
        display: flex;
        padding: 18px 0;
        justify-content: space-between;
        align-items: center;
    }
    .searchFlight span{
        font-size: 16px;
        font-weight: 500;
        color: #475569;
    }
    .boxTrip__title{
        display: flex;
        align-items: center;
    }
    .boxTrip__title svg{
        margin-right: 10px;
    }
    .searchBooking{
        margin-bottom: 8px;
    }
    .homeSearch{
        position: relative;
    }
    .homeBooking{
        position: absolute;
        width: 100%;
        bottom: -34px;
    }
    .title1{
        font-size: 30px;
    }
    .homeServices{
        padding: 36px 0;
    }
    .homeServices__col{
        margin-bottom: 8px;
    }
    .homeIntern{
        margin-top: -30px;
        margin-bottom: 50px;
    }
    .slick-initialized .slick-slide{
        display: block;
    }
    .homeIntern__item{
        max-width: 100%;
        margin-right: 0;
    }
    .homeLetter__input button{
        width: 100%;
        margin-top: 16px;
    }
    .homeDestination{
        margin-bottom: -34px;
    }
    .homeIntern__cont p{
        margin: 12px 0;
    }
    .homeIntern__title p{
        font-size: 18px;
    }
    .homeDestination .row{
        display: block;
    }
    .homeDestination ul.col-md-6{
        float: none;
        padding: 8px 15px;
    }
    .homeDestination li.col-md-6{
        float: none;
    }
    .homeHighlight__img{
        height: 240px;
    }
    .homeIntern__slide{
        padding-bottom: 40px;
    }
    .homeHighlight__slide{
        margin: 0 -15px;
        padding-bottom: 40px;
    }
    .homeHighlight__col{
        box-shadow: none;
        border-radius: unset;
        background: unset;
        padding: 15px;
    }
    .homeHighlight__item{
        box-shadow: 0px 0px 8px rgb(0 0 0 / 15%);
        border-radius: 8px;
        background: #fff;
    }
    .searchBox__input{
        z-index: unset;
    }
    .searchBox__close{
        text-align: center;
        align-items: center;
        padding: 24px;
        border-bottom: 1px solid #E2E8F0;
    }
    .searchBox__close svg{
        float: left;
    }
    .add__Left, .add_Right, .add__Mid {
        width: 50% !important;
    }
    .inputSearch__group{
        display: block;
    }
    .multi .searchBox__passenger{
        margin-top: 16px;
        margin-right: 0;
    }
    .searchBox__btn{
        width: 100%;
    }
    .noMulti .searchBox__btn{
        margin-top: 24px;
    }
    .footer__top .row{
        display: block;
    }
    .footer__top .row > div{
        max-width: 100%;
    }
    .footer__top .col-4{
        margin-bottom: 16px;
    }
    .footer__list ul:last-child{
        width: 100%;
    }
    .footer__top{
        margin-bottom: -50px;
    }
    .footerIcon__left{
        text-align: center;
    }
    .socialFooter{
        padding-top: 24px;
    }
    .footer__lang button{
        width: 100%;
    }
    .footer__bottom p:first-child{
        margin-bottom: 16px;
    }
    .homeIntern__col{
        display: flex!important;
        flex-direction: column-reverse;
    }
    .liTitle{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .liTitle.active svg{
        transform: rotate(180deg);
    }
    .liTitle svg{
        transition: all .3s ease-in-out;
    }
}
/*end mobile*/